name: Build

on:
  push:
    branches: '*'
    tags: 'v*'
  pull_request:
    branches: '*'

jobs:
  build-jar:
    name: Build jar
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git
        uses: actions/checkout@v3
      - name: Build
        env:
          ACCESS_KEY: ${{ secrets.TEAMSCALE_ACCESS_KEY }}
        run: mvn clean verify -Pfailsafe -Pshaded
      - name: 'Upload Artifact'
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: target-jar
          path: ./target
          retention-days: 5

  build-linux:
    name: Linux Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git
        uses: actions/checkout@v3
      - name: Set up GraalVM
        uses: ayltai/setup-graalvm@v1
        with:
          java-version: 11
          graalvm-version: 20.3.0
          native-image: true
      - name: Build
        env:
          ACCESS_KEY: ${{ secrets.TEAMSCALE_ACCESS_KEY }}
        run: mvn clean verify -Pfailsafe -Pnative
      - name: Reduce Image Size
        uses: crazy-max/ghaction-upx@v2
        with:
          version: latest
          files: |
            ./target/teamscale-buildbreaker
      - name: 'Upload Artifact'
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: target-linux
          path: ./target
          retention-days: 5

  build-windows:
    name: Windows Build
    runs-on: windows-2025
    steps:
      - name: Checkout git
        uses: actions/checkout@v3
      - name: Set up GraalVM
        uses: ayltai/setup-graalvm@v1
        with:
          java-version: 11
          graalvm-version: 20.3.0
          native-image: true
      - name: Build
        env:
          ACCESS_KEY: ${{ secrets.TEAMSCALE_ACCESS_KEY }}
        run: ./build-windows.bat
      - name: Reduce Image Size
        uses: crazy-max/ghaction-upx@v2
        with:
          version: latest
          files: |
            ./target/teamscale-buildbreaker.exe
      - name: 'Upload Artifact'
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: target-windows
          path: ./target
          retention-days: 5

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs:
      - build-windows
      - build-linux
      - build-jar
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
      - name: Package
        run: |
          (cd ./target-linux && zip ../teamscale-buildbreaker-linux.zip ./teamscale-buildbreaker)
          (cd ./target-windows && zip ../teamscale-buildbreaker-windows.zip ./teamscale-buildbreaker.exe)
          (cd ./target-jar && cp ./teamscale-buildbreaker-*-shaded.jar ../teamscale-buildbreaker.jar)
      - name: Upload Release Assets
        id: create_release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          file: teamscale-buildbreaker*.{zip,jar}
          file_glob: true
          overwrite: true
